In [3]:
import os
os.chdir("..")

import pandas as pd
import numpy as np

import alpaca.utils.datasets.config as alpaca_config
alpaca_config.DATA_DIR = './datasets/alpaca_datasets'

from alpaca.utils.datasets.builder import build_dataset

In [3]:
dataset = build_dataset('kin8nm')

dataset.df

Loading dataset...

,theta1,theta2,theta3,theta4,theta5,theta6,theta7,theta8,y
0,-0.015119,0.360741,0.469398,1.309675,0.988024,-0.025493,0.664071,0.062763,0.536524
1,0.360478,-0.301395,0.629183,-1.440146,-0.741637,-1.196749,-1.038444,-0.717461,0.308014
2,1.563238,-1.294753,0.078987,1.432937,1.149136,-1.292140,1.562988,-0.937731,0.518900
3,0.199485,0.901157,-1.356304,-0.080525,-0.976628,0.829894,-0.855649,0.930630,0.494151
4,0.659737,0.120552,-0.008756,0.648839,0.626832,-0.646539,1.318074,-0.899172,0.470218
...,...,...,...,...,...,...,...,...,...
8187,1.459523,-0.201551,-0.610721,1.424181,0.269273,1.172781,-0.509818,-0.686006,0.486093
8188,0.654980,-0.823516,-0.809246,0.408441,-1.368838,0.582222,-1.394697,-0.057294,0.696752
8189,0.103862,1.024329,-1.047221,0.280905,-0.181155,-0.651934,-1.241842,1.530220,0.803888
8190,-1.109311,-0.027690,-1.448736,-0.648566,-0.462142,0.814971,1.100615,1.337159,0.887959
8191,1.155010,-0.429331,-1.567260,0.883077,-1.203777,-0.126506,0.331042,-1.327384,0.496853

In [4]:
dataset = build_dataset('boston_housing')
dataset.df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [5]:
dataset = build_dataset('concrete')
dataset.df

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [7]:
dataset = build_dataset('energy_efficiency')
dataset.df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [8]:
dataset = build_dataset('naval_propulsion')
dataset.df

Loading dataset...

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.138,3.0,289.964,1349.489,6677.380,7.584,7.584,464.006,288.0,550.563,1.096,0.998,5.947,1.019,7.137,0.082,0.95,0.975
1,2.088,6.0,6960.180,1376.166,6828.469,28.204,28.204,635.401,288.0,581.658,1.331,0.998,7.282,1.019,10.655,0.287,0.95,0.975
2,3.144,9.0,8379.229,1386.757,7111.811,60.358,60.358,606.002,288.0,587.587,1.389,0.998,7.574,1.020,13.086,0.259,0.95,0.975
3,4.161,12.0,14724.395,1547.465,7792.630,113.774,113.774,661.471,288.0,613.851,1.658,0.998,9.007,1.022,18.109,0.358,0.95,0.975
4,5.140,15.0,21636.432,1924.313,8494.777,175.306,175.306,731.494,288.0,645.642,2.078,0.998,11.197,1.026,26.373,0.522,0.95,0.975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11929,5.140,15.0,21624.934,1924.342,8470.013,175.239,175.239,681.658,288.0,628.950,2.087,0.998,10.990,1.027,23.803,0.471,1.00,1.000
11930,6.175,18.0,29763.213,2306.745,8800.352,245.954,245.954,747.405,288.0,658.853,2.512,0.998,13.109,1.031,32.671,0.647,1.00,1.000
11931,7.148,21.0,39003.867,2678.052,9120.889,332.389,332.389,796.457,288.0,680.393,2.982,0.998,15.420,1.036,42.104,0.834,1.00,1.000
11932,8.206,24.0,50992.579,3087.434,9300.274,438.024,438.024,892.945,288.0,722.029,3.594,0.998,18.293,1.043,58.064,1.149,1.00,1.000
11933,9.300,27.0,72775.130,3560.400,9742.950,644.880,644.880,1038.411,288.0,767.595,4.531,0.998,22.464,1.052,86.067,1.704,1.00,1.000

In [9]:
dataset = build_dataset('ccpp')#power plant
dataset.df

Loading dataset...

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [10]:
dataset = build_dataset('protein_structure')
dataset.df

Loading dataset...

,RMSD,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,17.284,13558.30,4305.35,0.31754,162.1730,1.872791e+06,215.3590,4287.87,102,27.0302
1,6.021,6191.96,1623.16,0.26213,53.3894,8.034467e+05,87.2024,3328.91,39,38.5468
2,9.275,7725.98,1726.28,0.22343,67.2887,1.075648e+06,81.7913,2981.04,29,38.8119
3,15.851,8424.58,2368.25,0.28111,67.8325,1.210472e+06,109.4390,3248.22,70,39.0651
4,7.962,7460.84,1736.94,0.23280,52.4123,1.021020e+06,94.5234,2814.42,41,39.9147
...,...,...,...,...,...,...,...,...,...,...
45725,3.762,8037.12,2777.68,0.34560,64.3390,1.105797e+06,112.7460,3384.21,84,36.8036
45726,6.521,7978.76,2508.57,0.31440,75.8654,1.116725e+06,102.2770,3974.52,54,36.0470
45727,10.356,7726.65,2489.58,0.32220,70.9903,1.076560e+06,103.6780,3290.46,46,37.4718
45728,9.791,8878.93,3055.78,0.34416,94.0314,1.242266e+06,115.1950,3421.79,41,35.6045
45729,18.827,12732.40,4444.36,0.34905,157.6300,1.788897e+06,229.4590,4626.85,141,29.8118

In [11]:
dataset = build_dataset('red_wine')
dataset.df

Loading dataset...

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [12]:
dataset = build_dataset('yacht_hydrodynamics')
dataset.df

Loading dataset...

       0      1     2     3     4      5      6
0   -2.3  0.568  4.78  3.99  3.17  0.125   0.11
1   -2.3  0.568  4.78  3.99  3.17  0.150   0.27
2   -2.3  0.568  4.78  3.99  3.17  0.175   0.47
3   -2.3  0.568  4.78  3.99  3.17  0.200   0.78
4   -2.3  0.568  4.78  3.99  3.17  0.225   1.18
..   ...    ...   ...   ...   ...    ...    ...
303 -2.3  0.600  4.34  4.23  2.73  0.350   8.47
304 -2.3  0.600  4.34  4.23  2.73  0.375  12.27
305 -2.3  0.600  4.34  4.23  2.73  0.400  19.59
306 -2.3  0.600  4.34  4.23  2.73  0.425  30.48
307 -2.3  0.600  4.34  4.23  2.73  0.450  46.66

[308 rows x 7 columns]

In [13]:
dataset = build_dataset('year_prediction_msd')
dataset.df

Loading dataset...

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,2001,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,7.83089,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
1,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
2,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
3,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
4,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515340,2006,51.28467,45.88068,22.19582,-5.53319,-3.61835,-16.36914,2.12652,5.18160,-8.66890,...,4.81440,-3.75991,-30.92584,26.33968,-5.03390,21.86037,-142.29410,3.42901,-41.14721,-15.46052
515341,2006,49.87870,37.93125,18.65987,-3.63581,-27.75665,-18.52988,7.76108,3.56109,-2.50351,...,32.38589,-32.75535,-61.05473,56.65182,15.29965,95.88193,-10.63242,12.96552,92.11633,10.88815
515342,2006,45.12852,12.65758,-38.72018,8.80882,-29.29985,-2.28706,-18.40424,-22.28726,-4.52429,...,-18.73598,-71.15954,-123.98443,121.26989,10.89629,34.62409,-248.61020,-6.07171,53.96319,-8.09364
515343,2006,44.16614,32.38368,-3.34971,-2.49165,-19.59278,-18.67098,8.78428,4.02039,-12.01230,...,67.16763,282.77624,-4.63677,144.00125,21.62652,-29.72432,71.47198,20.32240,14.83107,39.74909
515344,2005,51.85726,59.11655,26.39436,-5.46030,-20.69012,-19.95528,-6.72771,2.29590,10.31018,...,-11.50511,-69.18291,60.58456,28.64599,-4.39620,-64.56491,-45.61012,-5.51512,32.35602,12.17352

# Voest Datasets

In [58]:
np.set_printoptions(threshold=np.inf, linewidth=200)

In [102]:

def sort_columns_excluding_first_n(df, n):
    """
    Sort all but the first n columns of a DataFrame by their column names.

    Parameters:
    df (pd.DataFrame): The original DataFrame.
    n (int): The number of first columns to exclude from sorting.

    Returns:
    pd.DataFrame: A new DataFrame with all but the first n columns sorted by column name.
    """

    # Step 1: Split the DataFrame
    excluded_part = df.iloc[:, :n]  # First n columns to exclude from sorting
    sortable_part = df.iloc[:, n:]  # The rest of the columns

    # Step 2: Sort the rest of the columns by their names
    sorted_rest = sortable_part[sorted(sortable_part.columns, key=lambda x: int(x))]

    # Step 3: Reassemble the DataFrame
    df_sorted = pd.concat([excluded_part, sorted_rest], axis=1)

    return df_sorted



def move_column_to_first(df, column_name):
    """
    Move a specified column by name to the first position in the DataFrame.

    Parameters:
    df (pd.DataFrame): The original DataFrame.
    column_name (str): The name of the column to move.

    Returns:
    pd.DataFrame: A new DataFrame with the specified column moved to the first position.
    """

    # Ensure the column exists in the DataFrame
    if column_name in df.columns:
        # Create a list of columns with the specified column at the first position
        cols = [column_name] + [col for col in df.columns if col != column_name]

        # Reindex the DataFrame with the new column order
        return df[cols]
    else:
        # Return the original DataFrame if the column name doesn't exist
        print(f"Column '{column_name}' does not exist in the DataFrame.")
        return df

For both below datasets the target is with column name 85 or with the name "PROGNOSE-EXT_Preise_EURspez_AE00-ENTSOE-Indikative"

In [103]:
feature_names = pd.read_excel('datasets/voest_datasets/Parameternamen.xlsx')

id_to_name = pd.Series(feature_names.PAR_NAME.values,index=feature_names.PAR_ID).to_dict()
name_to_id = {value: key for key, value in id_to_name.items()}

Dataset 1 with optimal conditions. That means the goal valiable is as if we would already have it when we measure the features.

In [104]:
voest_ds_1_meta_cols = 1
voest_ds_1 = pd.read_csv(filepath_or_buffer="datasets/voest_datasets/Export_Nov22_Oktl23_Rohdaten_Train.csv", sep=";", dtype=str) 
voest_ds_1 = sort_columns_excluding_first_n(voest_ds_1, voest_ds_1_meta_cols)

for col in voest_ds_1.columns:
    if str(col).isdigit():
        if voest_ds_1[col].dtype == 'float64':
            voest_ds_1[col] = voest_ds_1[col].astype(np.float32)
        else:
            voest_ds_1[col] = voest_ds_1[col].str.replace(',', '.').astype(np.float32)

voest_ds_1 = move_column_to_first(voest_ds_1, '85')
voest_ds_1_meta_cols += 1
    
new_columns = [id_to_name.get(int(col), col) if str(col).isdigit() else col for col in voest_ds_1.columns]
voest_ds_1.columns = new_columns

voest_ds_1_features_numpy = voest_ds_1.iloc[:, voest_ds_1_meta_cols:].to_numpy()

col_names = list(voest_ds_1.columns[voest_ds_1_meta_cols:])
voest_ds_1

,PROGNOSE-EXT_Preise_EURspez_AE00-ENTSOE-Indikative,BALANCING_TIME_UNIT_UTC,PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_e,PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_v,PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_e,PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_v,PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_e,PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_v,PROGNOSE-EXT_AT.in.TertiärregelenergieAngebot_st_e,PROGNOSE-EXT_AT.in.TertiärregelenergieAngebot_st_v,...,ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.LeistungAggregated_st_e,PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Viertelstundenprodukt,PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Stundenprodukt,ISTWERT-SQL_DT07_st_e-Grenzkosten-EG,ISTWERT-VARB_Preise_eg_CEGHIX-VWAP,ISTWERT-SQL_Preise_HEL_v,ISTWERT-SQL_Preise_Kohle_v,ISTWERT-VARB_Preise_-_DollarInEuro,PROGNOSE-EXT_AT.out_in.AusgleichsenergieMenge_st_v,PROGNOSE-EXT_AT.out_in.AusgleichsenergieMengeDelta_st_v
0,215.220001,01.11.2022 00:00:00,NaN,NaN,NaN,NaN,0.0,0.0,282.0,199.0,...,32.0,NaN,NaN,NaN,44.948002,NaN,NaN,0.9914,-49.0,NaN
1,189.470001,01.11.2022 00:15:00,NaN,NaN,NaN,NaN,0.0,0.0,282.0,199.0,...,32.0,142.289993,NaN,NaN,44.948002,NaN,NaN,0.9914,-28.0,NaN
2,170.059998,01.11.2022 00:30:00,NaN,NaN,NaN,NaN,0.0,0.0,282.0,199.0,...,32.0,115.010002,NaN,NaN,44.948002,NaN,NaN,0.9914,-19.0,NaN
3,171.880005,01.11.2022 00:45:00,NaN,NaN,NaN,NaN,0.0,0.0,282.0,199.0,...,32.0,158.889999,NaN,NaN,44.948002,NaN,NaN,0.9914,-6.0,NaN
4,250.740005,01.11.2022 01:00:00,NaN,NaN,NaN,NaN,0.0,0.0,282.0,199.0,...,32.0,125.010002,NaN,NaN,44.948002,NaN,NaN,0.9914,-9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35774,91.440002,08.11.2023 22:45:00,6.0,6.0,0.0,0.0,0.0,0.0,281.0,195.0,...,0.0,63.990002,99.889999,160.871765,42.696999,NaN,86.061615,1.0671,4.0,-4.0
35775,104.959999,08.11.2023 23:00:00,6.0,6.0,0.0,0.0,0.0,0.0,281.0,195.0,...,11.0,135.100006,94.989998,160.871765,42.696999,NaN,86.061615,1.0671,4.0,-3.0
35776,44.639999,08.11.2023 23:15:00,6.0,6.0,0.0,0.0,0.0,0.0,281.0,195.0,...,11.0,96.989998,94.989998,160.871765,42.696999,NaN,86.061615,1.0671,7.0,-3.0
35777,27.490000,08.11.2023 23:30:00,6.0,6.0,0.0,0.0,0.0,0.0,281.0,195.0,...,11.0,53.000000,94.989998,160.871765,42.696999,NaN,86.061615,1.0671,1.0,-3.0
35778,127.339996,08.11.2023 23:45:00,6.0,6.0,0.0,0.0,0.0,0.0,281.0,195.0,...,11.0,42.580002,94.989998,160.871765,42.696999,NaN,86.061615,1.0671,1.0,0.0

Dataset 2 with realistic (suboptimal) conditions. That means the goal parameters is from 6 hours in the future.

In [98]:
voest_ds_2_meta_cols = 4
voest_ds_2 = pd.read_csv(filepath_or_buffer="datasets/voest_datasets/Export_Nov22_Oktl23_Rohdaten_Kontr.csv", sep=";", dtype=str)
voest_ds_2 = sort_columns_excluding_first_n(voest_ds_2, voest_ds_2_meta_cols)

for col in voest_ds_2.columns:
    if str(col).isdigit():
        if voest_ds_2[col].dtype == 'float64':
            voest_ds_2[col] = voest_ds_2[col].astype(np.float32)
        else:
            voest_ds_2[col] = voest_ds_2[col].str.replace(',', '.').astype(np.float32)

new_columns = [id_to_name.get(int(col), col) if str(col).isdigit() else col for col in voest_ds_2.columns]
voest_ds_2.columns = new_columns

voest_ds_2_features_numpy = voest_ds_2.iloc[:, voest_ds_2_meta_cols:].to_numpy()
col_names2 = list(voest_ds_2.columns[voest_ds_2_meta_cols:])

voest_ds_2

,ROW_NUM,CALC_DATE_UTC,LAST_QUERY_TIMESTAMP_UTC,BALANCING_TIME_UNIT_UTC,PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_e,PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_v,PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_e,PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_v,PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_e,PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_v,...,ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.LeistungAggregated_st_e,PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Viertelstundenprodukt,PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Stundenprodukt,ISTWERT-SQL_DT07_st_e-Grenzkosten-EG,ISTWERT-VARB_Preise_eg_CEGHIX-VWAP,ISTWERT-SQL_Preise_HEL_v,ISTWERT-SQL_Preise_Kohle_v,ISTWERT-VARB_Preise_-_DollarInEuro,PROGNOSE-EXT_AT.out_in.AusgleichsenergieMenge_st_v,PROGNOSE-EXT_AT.out_in.AusgleichsenergieMengeDelta_st_v
0,1,01.11.2022 00:14:03,01.11.2022 00:11:33,01.11.2022 00:00:00,6.0,6.0,0.0,0.0,0.0,0.0,...,32.0,-24.990000,112.010002,170.380768,44.948002,NaN,79.956413,0.9914,-33.0,0.0
1,1,01.11.2022 00:29:04,01.11.2022 00:27:30,01.11.2022 00:15:00,6.0,6.0,0.0,0.0,0.0,0.0,...,32.0,142.289993,112.010002,170.380768,44.948002,NaN,79.956413,0.9914,-29.0,0.0
2,1,01.11.2022 00:44:03,01.11.2022 00:41:32,01.11.2022 00:30:00,6.0,6.0,0.0,0.0,0.0,0.0,...,32.0,115.010002,112.010002,170.380768,44.948002,NaN,79.956413,0.9914,-49.0,0.0
3,1,01.11.2022 00:59:03,01.11.2022 00:57:30,01.11.2022 00:45:00,6.0,6.0,0.0,0.0,0.0,0.0,...,32.0,158.889999,112.010002,170.380768,44.948002,NaN,79.956413,0.9914,-28.0,0.0
4,1,01.11.2022 01:14:04,01.11.2022 01:11:33,01.11.2022 01:00:00,6.0,6.0,0.0,0.0,0.0,0.0,...,32.0,125.010002,112.010002,170.380768,44.948002,NaN,79.956413,0.9914,-19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35075,1,09.11.2023 11:14:26,09.11.2023 11:14:07,09.11.2023 11:00:00,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,134.990005,65.019997,160.871765,42.863998,NaN,86.061615,1.0671,-17.0,1.0
35076,1,09.11.2023 11:29:26,09.11.2023 11:26:07,09.11.2023 11:15:00,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,89.150002,65.019997,160.871765,42.863998,NaN,86.061615,1.0671,-5.0,0.0
35077,1,09.11.2023 11:44:26,09.11.2023 11:44:08,09.11.2023 11:30:00,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,83.529999,65.019997,160.871765,42.863998,NaN,86.061615,1.0671,-13.0,0.0
35078,1,09.11.2023 11:59:26,09.11.2023 11:59:07,09.11.2023 11:45:00,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,2.010000,65.019997,160.871765,42.863998,NaN,86.061615,1.0671,1.0,-1.0
35079,1,09.11.2023 12:07:27,09.11.2023 12:06:08,09.11.2023 12:00:00,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,15.040000,51.000000,160.871765,42.863998,NaN,86.061615,1.0671,-38.0,0.0

### Voest Data Exploration

In [105]:
for idx, col in enumerate(voest_ds_1_features_numpy.T):
    nan_score = 0
    for row in col:
        if np.isnan(row):
            nan_score += 1
        else:
            break
    print(f"{idx} - {name_to_id[col_names[idx]]}: {nan_score} - {np.sum(np.isnan(col))} - {col_names[idx]}")

0 - 64: 56 - 56 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_e
1 - 65: 56 - 56 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_v
2 - 66: 56 - 56 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_e
3 - 67: 56 - 56 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_v
4 - 68: 0 - 0 - PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_e
5 - 69: 0 - 0 - PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_v
6 - 70: 0 - 0 - PROGNOSE-EXT_AT.in.TertiärregelenergieAngebot_st_e
7 - 71: 0 - 0 - PROGNOSE-EXT_AT.in.TertiärregelenergieAngebot_st_v
8 - 72: 56 - 56 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreisKategorie_st_e
9 - 73: 56 - 56 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreisKategorie_st_v
10 - 74: 56 - 56 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreis_st_e
11 - 75: 56 - 56 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreis_st_v
12 - 76: 0 - 0 - PROGNOSE-EXT_AT.in.Sekundärregelenergie_st_e
13 - 77: 7 - 7 - PROGNOSE-EXT_AT.in.Sekundärregelenergie_st_v
14 - 78: 0 - 0 - PROGNOSE-EXT_AT.in.SekundärregelenergieAngebot_st_e
15 - 79: 0 - 0 - PROGNOSE-EXT_AT.in.SekundärregelenergieAngebot_st_v
16 - 80: 0 - 0 - PROGNOSE-EXT_AT.out.AusgleichsenergieMenge_st_v
17 - 81: 5 - 5 - PROGNOSE-EXT_AT.in.AusgleichsenergieMenge_st_v
18 - 82: 2732 - 2732 - PROGNOSE-EXT_AT.out.AusgleichsenergieMengeDelta_st_v
19 - 83: 2744 - 2744 - PROGNOSE-EXT_AT.in.AusgleichsenergieMengeDelta_st_v
20 - 84: 3356 - 3356 - ISTWERT-EXT-DAYAHEAD_AT.in.Preis_st_v
21 - 86: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.MinPreis_st_e
22 - 87: 48 - 48 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.MinPreis_st_e
23 - 88: 48 - 48 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.MaxPreis_st_e
24 - 89: 0 - 0 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.MaxPreis_st_e
25 - 90: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.Leistung_st_e
26 - 91: 3 - 3 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.Leistung_st_e
27 - 92: 0 - 0 - PROGNOSE-EXT-DAYAHEAD_AT.in.Solar_st_e
28 - 93: 0 - 0 - PROGNOSE-EXT-DAYAHEAD_AT.in.Wind_st_e
29 - 94: 0 - 0 - PROGNOSE-EXT-INTRADAYTOTAL_AT.in.Solar_st_e
30 - 95: 0 - 0 - PROGNOSE-EXT-INTRADAYTOTAL_AT.in.Wind_st_e
31 - 96: 0 - 0 - PROGNOSE-EXT-INTRADAYPROCESS_AT.in.Solar_st_e
32 - 97: 0 - 0 - PROGNOSE-EXT-INTRADAYPROCESS_AT.in.Wind_st_e
33 - 98: 0 - 0 - ISTWERT-EXT_AT.out.Biomasse_st_e
34 - 99: 0 - 0 - ISTWERT-EXT_AT.out.Fossil.Gas_st_e
35 - 100: 0 - 0 - ISTWERT-EXT_AT.out.Fossil.Kohle_st_e
36 - 101: 0 - 0 - ISTWERT-EXT_AT.out.Fossil.Öl_st_e
37 - 102: 0 - 0 - ISTWERT-EXT_AT.out.Geothermie_st_e
38 - 103: 0 - 0 - ISTWERT-EXT_AT.out.Hydro.Pumpspeicher_st_e
39 - 104: 0 - 0 - ISTWERT-EXT_AT.out.Hydro.Laufwasser_st_e
40 - 105: 0 - 0 - ISTWERT-EXT_AT.out.Hydro.Speicher_st_e
41 - 106: 0 - 0 - ISTWERT-EXT_AT.out.AndereErneuerbare_st_e
42 - 107: 0 - 0 - ISTWERT-EXT_AT.out.Solar_st_e
43 - 108: 0 - 0 - ISTWERT-EXT_AT.out.Müll_st_e
44 - 109: 0 - 0 - ISTWERT-EXT_AT.out.Wind_st_e
45 - 110: 0 - 0 - ISTWERT-EXT_AT.out.Andere_st_e
46 - 111: 0 - 0 - ISTWERT-EXT_AT.in.Biomasse_st_e
47 - 112: 0 - 0 - ISTWERT-EXT_AT.in.Fossil.Gas_st_e
48 - 113: 0 - 0 - ISTWERT-EXT_AT.in.Fossil.Kohle_st_e
49 - 114: 0 - 0 - ISTWERT-EXT_AT.in.Fossil.Öl_st_e
50 - 115: 0 - 0 - ISTWERT-EXT_AT.in.Geothermie_st_e
51 - 116: 0 - 0 - ISTWERT-EXT_AT.in.Hydro.Pumpspeicher_st_e
52 - 117: 0 - 0 - ISTWERT-EXT_AT.in.Hydro.Laufwasser_st_e
53 - 118: 0 - 0 - ISTWERT-EXT_AT.in.Hydro.Speicher_st_e
54 - 119: 0 - 0 - ISTWERT-EXT_AT.in.AndereErneuerbare_st_e
55 - 120: 0 - 0 - ISTWERT-EXT_AT.in.Solar_st_e
56 - 121: 0 - 0 - ISTWERT-EXT_AT.in.Müll_st_e
57 - 122: 0 - 0 - ISTWERT-EXT_AT.in.Wind_st_e
58 - 123: 0 - 0 - ISTWERT-EXT_AT.in.Andere_st_e
59 - 124: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.LeistungAggregated_st_e
60 - 125: 0 - 0 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.LeistungAggregated_st_e
61 - 162: 1 - 1 - PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Viertelstundenprodukt
62 - 163: 8 - 8 - PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Stundenprodukt
63 - 164: 20 - 20 - ISTWERT-SQL_DT07_st_e-Grenzkosten-EG
64 - 165: 0 - 0 - ISTWERT-VARB_Preise_eg_CEGHIX-VWAP
65 - 166: 35779 - 35779 - ISTWERT-SQL_Preise_HEL_v
66 - 167: 14 - 14 - ISTWERT-SQL_Preise_Kohle_v
67 - 168: 0 - 0 - ISTWERT-VARB_Preise_-_DollarInEuro
68 - 8081: 0 - 0 - PROGNOSE-EXT_AT.out_in.AusgleichsenergieMenge_st_v
69 - 8283: 2732 - 2732 - PROGNOSE-EXT_AT.out_in.AusgleichsenergieMengeDelta_st_v

In [106]:
for idx, col in enumerate(voest_ds_2_features_numpy.T):
    nan_score = 0
    for row in col:
        if np.isnan(row):
            nan_score += 1
        else:
            break
    print(f"{idx} - {name_to_id[col_names2[idx]]}: {nan_score} - {np.sum(np.isnan(col))} - {col_names2[idx]}")

0 - 64: 0 - 13539 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_e
1 - 65: 0 - 13539 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreisKategorie_st_v
2 - 66: 0 - 8851 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_e
3 - 67: 0 - 9027 - PROGNOSE-EXT_AT.in.TertiärregelenergiePreis_st_v
4 - 68: 0 - 0 - PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_e
5 - 69: 0 - 0 - PROGNOSE-EXT_AT.in.Tertiärregelenergie_st_v
6 - 70: 0 - 0 - PROGNOSE-EXT_AT.in.TertiärregelenergieAngebot_st_e
7 - 71: 0 - 0 - PROGNOSE-EXT_AT.in.TertiärregelenergieAngebot_st_v
8 - 72: 0 - 2034 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreisKategorie_st_e
9 - 73: 0 - 2034 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreisKategorie_st_v
10 - 74: 0 - 0 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreis_st_e
11 - 75: 0 - 0 - PROGNOSE-EXT_AT.in.SekundärregelenergiePreis_st_v
12 - 76: 0 - 0 - PROGNOSE-EXT_AT.in.Sekundärregelenergie_st_e
13 - 77: 0 - 0 - PROGNOSE-EXT_AT.in.Sekundärregelenergie_st_v
14 - 78: 0 - 0 - PROGNOSE-EXT_AT.in.SekundärregelenergieAngebot_st_e
15 - 79: 0 - 0 - PROGNOSE-EXT_AT.in.SekundärregelenergieAngebot_st_v
16 - 80: 0 - 0 - PROGNOSE-EXT_AT.out.AusgleichsenergieMenge_st_v
17 - 81: 0 - 0 - PROGNOSE-EXT_AT.in.AusgleichsenergieMenge_st_v
18 - 82: 6443 - 12156 - PROGNOSE-EXT_AT.out.AusgleichsenergieMengeDelta_st_v
19 - 83: 6443 - 12153 - PROGNOSE-EXT_AT.in.AusgleichsenergieMengeDelta_st_v
20 - 84: 0 - 0 - ISTWERT-EXT-DAYAHEAD_AT.in.Preis_st_v
21 - 85: 0 - 0 - PROGNOSE-EXT_Preise_EURspez_AE00-ENTSOE-Indikative
22 - 86: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.MinPreis_st_e
23 - 87: 0 - 0 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.MinPreis_st_e
24 - 88: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.MaxPreis_st_e
25 - 89: 0 - 0 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.MaxPreis_st_e
26 - 90: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.Leistung_st_e
27 - 91: 0 - 0 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.Leistung_st_e
28 - 92: 0 - 0 - PROGNOSE-EXT-DAYAHEAD_AT.in.Solar_st_e
29 - 93: 0 - 0 - PROGNOSE-EXT-DAYAHEAD_AT.in.Wind_st_e
30 - 94: 0 - 0 - PROGNOSE-EXT-INTRADAYTOTAL_AT.in.Solar_st_e
31 - 95: 0 - 0 - PROGNOSE-EXT-INTRADAYTOTAL_AT.in.Wind_st_e
32 - 96: 0 - 0 - PROGNOSE-EXT-INTRADAYPROCESS_AT.in.Solar_st_e
33 - 97: 0 - 0 - PROGNOSE-EXT-INTRADAYPROCESS_AT.in.Wind_st_e
34 - 98: 0 - 2011 - ISTWERT-EXT_AT.out.Biomasse_st_e
35 - 99: 0 - 0 - ISTWERT-EXT_AT.out.Fossil.Gas_st_e
36 - 100: 0 - 2011 - ISTWERT-EXT_AT.out.Fossil.Kohle_st_e
37 - 101: 0 - 2011 - ISTWERT-EXT_AT.out.Fossil.Öl_st_e
38 - 102: 0 - 2011 - ISTWERT-EXT_AT.out.Geothermie_st_e
39 - 103: 0 - 0 - ISTWERT-EXT_AT.out.Hydro.Pumpspeicher_st_e
40 - 104: 0 - 0 - ISTWERT-EXT_AT.out.Hydro.Laufwasser_st_e
41 - 105: 0 - 0 - ISTWERT-EXT_AT.out.Hydro.Speicher_st_e
42 - 106: 0 - 2011 - ISTWERT-EXT_AT.out.AndereErneuerbare_st_e
43 - 107: 0 - 2011 - ISTWERT-EXT_AT.out.Solar_st_e
44 - 108: 0 - 2011 - ISTWERT-EXT_AT.out.Müll_st_e
45 - 109: 0 - 2011 - ISTWERT-EXT_AT.out.Wind_st_e
46 - 110: 0 - 2011 - ISTWERT-EXT_AT.out.Andere_st_e
47 - 111: 0 - 0 - ISTWERT-EXT_AT.in.Biomasse_st_e
48 - 112: 0 - 0 - ISTWERT-EXT_AT.in.Fossil.Gas_st_e
49 - 113: 0 - 2011 - ISTWERT-EXT_AT.in.Fossil.Kohle_st_e
50 - 114: 0 - 2011 - ISTWERT-EXT_AT.in.Fossil.Öl_st_e
51 - 115: 0 - 2011 - ISTWERT-EXT_AT.in.Geothermie_st_e
52 - 116: 0 - 0 - ISTWERT-EXT_AT.in.Hydro.Pumpspeicher_st_e
53 - 117: 0 - 0 - ISTWERT-EXT_AT.in.Hydro.Laufwasser_st_e
54 - 118: 0 - 0 - ISTWERT-EXT_AT.in.Hydro.Speicher_st_e
55 - 119: 0 - 2011 - ISTWERT-EXT_AT.in.AndereErneuerbare_st_e
56 - 120: 0 - 0 - ISTWERT-EXT_AT.in.Solar_st_e
57 - 121: 0 - 0 - ISTWERT-EXT_AT.in.Müll_st_e
58 - 122: 0 - 0 - ISTWERT-EXT_AT.in.Wind_st_e
59 - 123: 0 - 0 - ISTWERT-EXT_AT.in.Andere_st_e
60 - 124: 0 - 0 - ISTWERT-EXT_AT.in.DE.out.CrossBorderBalancing.LeistungAggregated_st_e
61 - 125: 0 - 0 - ISTWERT-EXT_DE.in.AT.out.CrossBorderBalancing.LeistungAggregated_st_e
62 - 162: 0 - 0 - PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Viertelstundenprodukt
63 - 163: 0 - 0 - PROGNOSE-EXT_Preise_EURspez_EPEXSpot-AT-Stundenprodukt
64 - 164: 0 - 0 - ISTWERT-SQL_DT07_st_e-Grenzkosten-EG
65 - 165: 0 - 0 - ISTWERT-VARB_Preise_eg_CEGHIX-VWAP
66 - 166: 35080 - 35080 - ISTWERT-SQL_Preise_HEL_v
67 - 167: 0 - 0 - ISTWERT-SQL_Preise_Kohle_v
68 - 168: 0 - 0 - ISTWERT-VARB_Preise_-_DollarInEuro
69 - 8081: 0 - 0 - PROGNOSE-EXT_AT.out_in.AusgleichsenergieMenge_st_v
70 - 8283: 0 - 603 - PROGNOSE-EXT_AT.out_in.AusgleichsenergieMengeDelta_st_v